ITEM_OPACITY            = 30%

ITEM_BACKGROUND_DEFAULT = rgb(255, 0, 0)
ITEM_BACKGROUND_1       = red
ITEM_BACKGROUND_2       = blue
ITEM_BACKGROUND_3       = orange
ITEM_BACKGROUND_4       = yellow
ITEM_BACKGROUND_5       = pink
ITEM_BACKGROUND_6       = magenta


RULER_COLOR       = rgba(0, 0, 0, 0.7)
