[data-svgchart-type="line"]

  & .bar
    -webkit-border-radius: 20px
    stroke: rgba(255,0,0, 0.4)
    fill: rgba(255,0,255, 0.4)
    &.over
      fill: red

  & text
    font-size: .8em
    pointer-events: none
    fill: #999999
    stroke: #000000

    & .ruler_label
      stroke: #222

