[data-svgchart-type="pie"]

  & path

    stroke: #222222
    stroke-width: 2
    opacity: .4

    &.color_0
      fill: rgb(221, 30, 47)

    &.color_1
      fill: rgb(6, 162, 203)

    &.color_2
      fill: rgb(235, 176, 53)

    &.color_3
      fill: rgb(33, 133, 89)

    &.color_4
      fill: rgb(208, 198, 177)
