[data-svgchart-type="bar"]

  & .bar
    fill: green

  & text
    fill: #999999
    stroke: #000000
    // font-size: 15px

  & .ruler
    stroke: rgba(0,0,0, 0.2)
    stroke-width: 1
    fill: transparent

    &.zero
      stroke: rgba(0,0,0, 0.8)
