
[data-svgchart-type]

  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

  // Item elements (bar, point or pie)
  & .item
    fill: ITEM_BACKGROUND_DEFAULT
    stroke: darken(ITEM_BACKGROUND_DEFAULT, ITEM_OPACITY)
    stroke-width: 1
    opacity: 0.6
    &:hover
      opacity: 0.9

  & .index_0
    fill: ITEM_BACKGROUND_1
    stroke: darken(ITEM_BACKGROUND_1, ITEM_OPACITY)

  & .index_1
    fill: ITEM_BACKGROUND_2
    stroke: darken(ITEM_BACKGROUND_2, ITEM_OPACITY)

  & .index_2
    fill: ITEM_BACKGROUND_3
    stroke: darken(ITEM_BACKGROUND_3, ITEM_OPACITY)

  & .index_3
    fill: ITEM_BACKGROUND_4
    stroke: darken(ITEM_BACKGROUND_4, ITEM_OPACITY)

  & .index_4
    fill: ITEM_BACKGROUND_5
    stroke: darken(ITEM_BACKGROUND_5, ITEM_OPACITY)

  & .index_5
    fill: ITEM_BACKGROUND_6
    stroke: darken(ITEM_BACKGROUND_6, ITEM_OPACITY)

  // Ruler
  & .ruler
    stroke: RULER_COLOR
    stroke-width: 1
    stroke-dasharray: 3 3
    opacity: 0.4
    fill: none
    pointer-events: none
    &.zero
      opacity: 1
      stroke-dasharray: none
      stroke-width: 2

  // Path lines or curves
  & path
    opacity: 0.3

  // Generic texts
  & text
    font-size: 12px
    pointer-events: none



[data-svgchart-type="line"]
  & path[class*="index_"]
    fill: transparent
    stroke-width: 6
    opacity: 0.8

[data-svgchart-type="area"]
  & path[class*="index_"]
    stroke-width: 4
    // opacity: 0.7
