[data-svgchart-type]

  & .ruler
    pointer-events: none
    stroke: rgba(0,0,0, 0.3)
    stroke-width: 0.2
    fill: transparent

    &.zero
      stroke-width: 4
      stroke: rgba(0,0,0, 0.7)

  & text.zero
    stroke: red
    fill: red