[data-svgchart-type="line"]

  & .bar
    fill: grey
    &.over
      fill: brown

  & text
    font-size: .8em
    pointer-events: none
    fill: #999999
    stroke: #000000

    & .ruler_label
      stroke: #222

  & .ruler
    pointer-events: none
    stroke: rgba(255,0,0, 0.7)
    stroke-width: 0.4
    fill: transparent
    &.zero
      stroke-width: 3
      stroke: rgba(255,0,255, 0.8)
