[data-svgchart-type="line"]

  & .bar
    stroke: green
    fill: blue
    &.over
      fill: red

  & text
    font-size: .8em
    pointer-events: none
    fill: #999999
    stroke: #000000

    & .ruler_label
      stroke: #222

