[data-svgchart-type="point"]

  & circle
    fill: blue

  & path
    stroke: green
    fill: orange
    opacity: .3

  & text
    font-size: .8em
    pointer-events: none
    fill: #999999
    stroke: #000000

    & .ruler_label
      stroke: #222

